In [40]:
import datetime as dt
import pandas as pd

In [1]:
f = open('inputs/day04_test.txt')
data = f.read().split('\n')

In [2]:
data

['[1518-11-01 00:00] Guard #10 begins shift',
 '[1518-11-01 00:05] falls asleep',
 '[1518-11-01 00:25] wakes up',
 '[1518-11-01 00:30] falls asleep',
 '[1518-11-01 00:55] wakes up',
 '[1518-11-01 23:58] Guard #99 begins shift',
 '[1518-11-02 00:40] falls asleep',
 '[1518-11-02 00:50] wakes up',
 '[1518-11-03 00:05] Guard #10 begins shift',
 '[1518-11-03 00:24] falls asleep',
 '[1518-11-03 00:29] wakes up',
 '[1518-11-04 00:02] Guard #99 begins shift',
 '[1518-11-04 00:36] falls asleep',
 '[1518-11-04 00:46] wakes up',
 '[1518-11-05 00:03] Guard #99 begins shift',
 '[1518-11-05 00:45] falls asleep',
 '[1518-11-05 00:55] wakes up']

In [11]:
line = data[0]
line = line.split(']')
line[0] = line[0].replace('[', '')
line[1]
line

['1518-11-01 00:00', ' Guard #10 begins shift']

In [14]:
df = pd.DataFrame()

In [15]:
df.append(line)

                         0
0         1518-11-01 00:00
1   Guard #10 begins shift

In [23]:
def parse_line(line):
    line = line.split(']')
    line[0] = line[0].replace('[', '')
    return line

In [49]:
lines = [parse_line(d) for d in data]
df = pd.DataFrame(lines, columns=['occurred_at', 'instruction'])

In [50]:
df['occurred_at'] = pd.Series([dt.datetime.strptime(x, '%Y-%m-%d %H:%M') for x in df.occurred_at])

In [52]:
df.sort_values('occurred_at')

            occurred_at               insruction
0   1518-11-01 00:00:00   Guard #10 begins shift
1   1518-11-01 00:05:00             falls asleep
2   1518-11-01 00:25:00                 wakes up
3   1518-11-01 00:30:00             falls asleep
4   1518-11-01 00:55:00                 wakes up
5   1518-11-01 23:58:00   Guard #99 begins shift
6   1518-11-02 00:40:00             falls asleep
7   1518-11-02 00:50:00                 wakes up
8   1518-11-03 00:05:00   Guard #10 begins shift
9   1518-11-03 00:24:00             falls asleep
10  1518-11-03 00:29:00                 wakes up
11  1518-11-04 00:02:00   Guard #99 begins shift
12  1518-11-04 00:36:00             falls asleep
13  1518-11-04 00:46:00                 wakes up
14  1518-11-05 00:03:00   Guard #99 begins shift
15  1518-11-05 00:45:00             falls asleep
16  1518-11-05 00:55:00                 wakes up