## Part 1

In [24]:
import pandas as pd

In [33]:
f = open('inputs/day02.txt')
data = f.read().split('\n')

In [34]:
def any_char_exactly_twice(string):
    s = pd.Series(list(string))
    vc = s.value_counts()
    return any(vc == 2)
    
def any_char_exactly_thrice(string):
    s = pd.Series(list(string))
    vc = s.value_counts()
    return any(vc == 3)

In [35]:
twice  = 0
thrice = 0
for line in data:
    if line == '':
        pass
    if any_char_exactly_twice(line):
        twice += 1
    if any_char_exactly_thrice(line):
        thrice += 1
print(twice * thrice)

8296

## Part 2